.custom-card {
  position: relative;
  overflow: hidden;
}

.custom-card img {
  transition: 0.5s;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card:hover img {
  opacity: 0.7;
}

.custom-card:hover .overlay {
  opacity: 1;
}



.text-toybee {
  color: #FEF209;
}
.bg-toybee {
background-color: #fed86b;
}
.bg-toybee-dark {
background-color: #3f3b3b;
}
.navbar {
  --bs-navbar-hover-color: #5f2be0;
  --bs-navbar-active-color: #5f2be0;
  --bs-nav-link-hover-color: #5f2be0;
}
.dropdown-menu {
  --bs-dropdown-bg: #212529;
  --bs-dropdown-color: #ffffff;
  --bs-dropdown-link-hover-bg: #fff;
  --bs-dropdown-link-hover-color: #5f2be0;
}
.card a {
  text-decoration: none;
}
.gradient-toybee {
  margin-top: 30%;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.border-toybee {
  border-color: rgba() !important;
}

.toybee-hover:hover{
  color: #5f2be0 !important;
}